nav {
    background-color: #050401;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: full;
    border-radius: 0 0 1em 1em;
    color: #b1b1b1;

    img {
        margin: 0 6em;
        border-radius: 30px;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3em;
        margin: 0 6em;

        li {
            list-style: none;
            cursor: pointer;
            text-transform: uppercase;

        }
        
    }
}