.main .text {
    font-size: 1.5rem;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;


    .detail-box-contact {
        margin: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        justify-content: center;
        width: 22rem;
        height: 3rem;
        border: 2px solid black;
        border-radius: 0.8rem;

        a {
            font-size: 1.2rem;
        }
    }


}

@media (max-width: 670px) {
    #contact h2 {
        font-size: 2rem;
    }

    #contact .line {
        width: 15rem;
    }

    .main p {
        font-size: 0.6em;
        font-weight: 350;
        margin: auto ;
    }

    .details {
        display: flex;
        flex-direction: column;

    }

    .detail-box-contact {
        width: 19rem;
        font-size: 1rem;
    }

}